<h2>{{title}}</h2>
<p>{{nature}}</p>
<p>{{description}}</p>


<div class="row mb-3">
    <a>
        <div class="container">
            <div class="row fond p-3">
                <div class="col-6 col-md-4">
                    <!--<img src=" alt="imgVoiture"> !-->
                </div>
                <div class="col-6 col-md-8">
                    <h3>{{title}}</h3>
                    <span class="descr">
                            {{description}}
                        </span>
                </div>
            </div>
        </div>

    </a>
</div>

<button type="button" class="btn btn-primary">yo</button>