main{
    margin-top: 20px;

    h1{
        text-align: center;
        text-decoration: underline;
        //color:rgb(59, 133, 38);
        color: black;
    }

    #hautDePage{
        position: fixed;
        bottom: 0px;
        right: 0px;
        padding: 0px;

        margin-right:5px;

        background: transparent;
        border: none !important;

        //img{
            //margin: 0px;
            //padding:0px;
            //width: 105.5px;
            //height: 110px;
        //}
    }
}
